venv
.venv
dataset
configs/cross_evaluation
configs/cross_training
configs/distill_evaulation
configs/distill_models
configs/evaluation_configs
configs/test_configs
configs/dino/dinomx_job_mahmut
configs/dino/dinomx_job_CT_mahmut
configs/dino/heartlens_local_config.yaml
configs/dino/heartlens_config.yaml
data/__pycache__
data_preprocess
dataloaders/__pycache__
dino_training/__pycache__
dino_arch/__pycache__
losses/__pycache__
vit_models/__pycache__
utils/__pycache__
outputs
configs/segmentation/brats_segmentation_2025.yaml
configs/segmentation/brats_segmentation.yaml
configs/dino/brats_local_config_2025.yaml
configs/evaluation/gazi_eval.yaml
dataloaders/datasetloader_brats.py
otomasyon
utils/__pycache__ 
analyze_crops.py 
utils/__pycache__/  
dinomx_test.sh
processor_things
checkpoints
dinomx_job
download_checkpoints.py
create_medical_dataset.py
test.py
notebooks
test_registers.py
analyze_heartlens_dataset.ipynb
dataloaders/datasetloader_classification_Heartlens.py
dataloaders/datasetloader_classification_coca.py
dataloaders/datasetloader_heartlens.py
dataloaders/datasetloader_coca.py
download_checkpoints.py
calculate_scores.ipynb
utils/heartlens_utils.py
analyze_coca_dataset.ipynb
coca_dataset_preprocess.ipynb
coca_classification.ipynb
coca_gt_score_calculation.ipynb
coca_model_analyze.ipynb
coca_parameter_optimization.ipynb
coca_classification.ipynb
wandb
analyze_adapters.ipynb
coca_pca_statistical_analyze.ipynb
coca_pca_visualization.ipynb
coca_segmentation_vitunet_analyze.ipynb
coca_vitunet_score_calculation.ipynb
segmentation_trainer.py
segmentation_trainer_resnext.py
coca_segmentation_resnext_analyze.ipynb
test_dataloader_rgb.ipynb
download_checkpoints.py
configs/dino/tensor_dock_script.sh
configs/dino/brats_local_config.yaml
configs/dino/coca_local_config.yaml
dataloaders/datasetloader_brainmet.py
bone_hist_feature_extraction.ipynb
other_projects 
configs/evaluation/path_balanced_eval.yaml
dino_segmentation/__pycache__/segmentation_trainer.cpython-312.pyc
configs/dino/dinomx_educe
configs/segmentation/seg_Task.sh
dino_segmentation/__pycache__/segmentation_trainer.cpython-312.pyc
dino_segmentation/__pycache__/segmentation_trainer.cpython-312.pyc
configs/dino/gazi_fingerprint.yaml
